@import './src/assets/_colors.scss';

input {
  font-size: 15px;
  line-height: 24;
  font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', -apple-system, sans-serif;
  margin-bottom: 8px;
  height: 40px;
  padding: 4px 12px;
  border: 1px solid $additional-1;
  border-radius: 4px;

  &::placeholder {
    font-size: 15px;
    color: $placeholder;
  }

  &:hover {
    border: 2px solid $additional-2;
  }

  &:focus-visible {
    border: 2px solid red;
  }
}