$background-light: #F4F4F4;
$background-dark: #00121A;
$primary: #002333;
$secondary: #3722d3;
$accent: #00FF84;
$additional-1: #DCDEE1;
$additional-2: #889092;
$additional-3: #394649;
$placeholder: #889092;
$white: #ffffff;


